<div class="home-container">
  <div class="sub-home">
    <div class="side">
      <!-- <p></p> -->
      <div class="links">
        <ul>
          <li>
            <a href="/home"> <p>home</p></a>
          </li>
          <li>
            <a href="/projects"><p>projects</p></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="info-container">
      <div class="left-box">
        <!-- <div class="left-box-sub-2"> -->

        <!-- </div> -->
        <div class="social-box">
          <div class="img-box">
            <img class="img" width="100%" src="../../../assets/myphoto.png" />
            <!-- <div class="nufus"> -->
            <!-- <ul> -->
            <!-- <h1>ismail Can</h1> -->
            <div class="introduction">
              <p>
                A man born in 1976.<br /><br />Teacher more than a decade.<br /><br />
                Person with open mind.<br /><br />
                Human without prejudice.<br /><br />
                Someone wellcomes everyone!<br /><br />
                Nothing but himself.
              </p>
            </div>
            <!-- <p><span>Junior full-stack developer</span></p> -->
            <!-- </ul> -->
            <!-- </div> -->
          </div>
          <div class="social-list">
            <div class="nufus">
              <p>Ismail Can</p>
              <p>Junior Full-Stack Developer</p>
            </div>
            <div class="icons">
               <p>
                  <a href="https://github.com/enaoniro" class="fa fa-github"></a>
               </p>
               <p>
                <a class="fa fa-google"></a>
               </p>
              <p>
                <a
                  href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile"
                  class="fa fa-linkedin"
                ></a>
              </p>
              
            </div>
          </div>
        </div>
      </div>
      <div class="bio-box">
        <div class="bio-box-sub">
          <h4 class="ausbildung"></h4>
          <ul>
            <h4>Computer Science</h4>
            <li>
              Junior Full-Stack Developer
            </li>

            <li>
              08/2021 - 07/2022 Full-Stack Web Developer, HiCoders, Zürich
            </li>
            <li>HTML5 - CSS - JS - React - Node.js - MySQL - Git/Github</li>
            <li>
              09/2020 - 12/2020 Basic IT, University of Michigan, Coursera
            </li>
            <li>Introduction to HTML5 certificate</li>
            <li>Introduction to CSS3 certificate</li>
            <li>Advanced Styling with Responsive Design certificate</li>
            <li>Interactivity with JavaScript certificate</li>

            <h4>Education</h4>
            <li>
              09/1997 - 09/2001 Bachelor Degree, Turkish Language and Literature
              , Cukurova University, Adana (Türkei)
            </li>
            <h4>Languages</h4>
            <li>
              English (C1), German (B2), Greek(A2), Turkish (mother tongue)
            </li>
            <h4>Work Experience</h4>
            <li>
              09/2002 - 09/2009 Teacher / Ministry of Education , Istanbul
              (Turkey) 09/2009 - 07/2010 Teacher / De Horizon Elementary School,
              Beringen (Belgium) 09/2010 - 09/2016 Teacher / Ministry of
              Education , Istanbul (Turkey)
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
