<div class="header">
  <div class="navbar">
    <div class="logo">
      <div class="img">
        <p>
          <span class="name">&#x7B;</span>
        </p>
      </div>
    </div>
    <div class="list-box">
      <ul class="nav-list">
        <!-- <li routerLink="/home">home</li> -->
        <!-- <li routerLink="/">home</li> -->
        <li routerLink="/about">about</li>
        <li routerLink="/projects" >projects</li>
      </ul>
    </div>
    <div class="logo">
      <div class="img">
        <p>
          <span class="surname"> &#x7D;</span>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- //&#60;
//&#47;&#62; -->