<div class="home-container">
  <div class="sub-home">
    <div class="side">
      <!-- <p></p> -->
      <div class="links">
        <ul>
          <li>
            <a href="/about"> <p>about</p></a>
          </li>
          <li>
            <a href="/projects"><p>projects</p></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="info-container">
      <div class="left-box">
        <!-- <div class="left-box-sub-2"> -->

        <!-- </div> -->
        <div class="social-box">
          <div class="img-box">
            <img class="img" width="100%" src="../../../assets/myphoto.png" />
            <!-- <div class="nufus"> -->
            <!-- <ul> -->
            <!-- <h1>ismail Can</h1> -->
            <div class="introduction">
              <p>
                A man born in 1976.<br /><br />Teacher more than a decade.<br /><br />
                Person with open mind.<br /><br />
                Human without prejudice.<br /><br />
                Someone wellcomes everyone!<br />
                <br />Romantic without cure!<br /><br />
                Nothing but himself.
              </p>
            </div>
            <!-- <p><span>Junior full-stack developer</span></p> -->
            <!-- </ul> -->
            <!-- </div> -->
          </div>
          <div class="social-list">
            <div class="nufus">
              <p>Ismail Can</p>
              <p>Junior Full-Stack Developer</p>
            </div>
            <div class="icons">
              <p><a href="#" class="fa fa-google"></a></p>
              <p>
                <a href="#" class="fa fa-linkedin"></a>
              </p>
              <p><a href="#" class="fa fa-github"></a></p>
              <p><a href="#" class="fa fa-slack"></a></p>
              <p><a href="#" class="fab fa-discord"></a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="bio-box">
        <div class="bio-box-sub"></div>
      </div>
    </div>
    <div class="experience-container">
      <div class="ex-left">
        <h4>Ausbildung</h4>
        <ul>
          <li>
            Komputer Wissenschaft Junior Full-Stack Developer 08/2021 - 07/2022
            Full-Stack Web Developer, HiCoders, Zürich HTML5 - CSS - JS - React
            - Node.js - MySQL - Git/Github
          </li>
          <li>
            09/2020 - 12/2020 Basic IT, University of Michigan, Coursera
            Introduction to HTML5 certificate Introduction to CSS3 certificate
            Advanced Styling with Responsive Design certificate Interactivity
            with JavaScript certificate
          </li>
          <li>
            09/1997 - 09/2001 Bachelor Degree, Turkish Language and Literature ,
            Cukurova University, Adana (Türkei)
          </li>
          <li>
            <h4>Sprache</h4>
            English (C1), German (B1), Greek(A2), Turkish (mother tongue)
          </li>
          <li>
            Arbeitserfahrungen 09/2002 - 09/2009 Teacher / Ministry of Education
            , Istanbul (Turkey) 09/2009 - 07/2010 Teacher / De Horizon
            Elementary School, Beringen (Belgium) 09/2010 - 09/2016 Teacher /
            Ministry of Education , Istanbul (Turkey)
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
